
/* -------------------- article -------------------- */

article header h1 {
    color: green;
    text-align: center;
    font-size: xx-large;
}

article header p.authorinfo {
    color: #666;
    text-align: right;
    font-style: italic;
    font-size: 80%;
}

article>section>h1 {
    color: #336699;
    font-size: x-large;
}

article>section>section>h1 {
    color: #517994;
    font-size: large;
}

article>section>section>section>h1 {
    color: skyblue;
    font-size: medium;
}

article footer p.copyright {
    background-color: #eee;
    padding: 0.5em;
    font-style: italic;
    font-size: 80%;
    text-align: center;
    color: #666;
}

article ul,
article ol
{
    margin-left: 2em;
}

article ul li {
}

span.htmltag {
    color: brown;
    font-style: italic;
    padding: 0 0.3em;
}

pre {
    background-color: #ddd;
    padding: 0.5em;
    font-size: 80%;
    border-radius: 5px;
    color: #333;
    overflow-x: scroll;
}