
/*
 * Version 0.01
 * Author: Sarkuya, 2020-10-23
 */

pre {
    font-family: monospace;
    font-size: 90%;
    color: #666;
    background-color: #eee;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid lightgray;
}


/*
* CSS Syntax
*/

span.css-rule-selector {
    color: green;
}

span.css-rule-property {
    color:  darkorange;
}

span.css-rule-value {
    color: black;
}

/*
* HTML Syntax
*/

span.htmltag-name {
    color: blue;
    font-style: italic;
    padding: 0em;
}

span.htmltag-attrib-name {
    color: green;
}

span.htmltag-attrib-value {
    color: rgb(210, 140, 37);
}