
/*
 * Version 0.01
 * Author: Sarkuya, 2020-10-23
 */

/*
* CSS Syntax
*/

span.css-rule-selector {
    color: green;
}

span.css-rule-property {
    color:  darkorange;
}

span.css-rule-value {
    color: black;
}