h1 {
    color: green;
}

h2 {
    color: #336699;
    margin-top: 2.5em;
}

p {
    text-indent: 2em;
}

a {
    color: #336699;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/**
    -------------------- table --------------------
*/
table {
    border-collapse: collapse;
    font-family: verdana, arial, sans-serif;
    font-size: 0.8em;
    caption-side: top;
}

table caption {
    font-weight: bold;
    font-size: 1.5em;
    color: #336699;
    margin-bottom: 1em;
}

table th,
table td {
    border: 1px solid #517994;
    padding: 0.5em;
}

table th {
    background-color: #B2CFD8;
}

table td {

}

table tr:nth-child(odd) td {
    background-color: #eee;
}

table tr:nth-child(even) td {
    background-color: #ddd;
}

table tr:hover td {
    background-color: #DFEBF1;
    cursor: pointer;
}



