<!DOCTYPE html>

<html>
    <head>
        <title>TITILE_HERE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/document.css">
        
        <script src="../js/htmlDocUtils.js"></script>
    </head>
    <body>
        <article>
            <header>
                <h1>TITILE_HERE</h1>
                <p class='authorinfo'>Sarkuya, <time>2019-05-09</time></p>
            </header>
            
            <section class="chapter">
                <h1>CHAPTER TITLE</h1>
                <p></p>
            </section>

            <section class="reference">
                <h1>References</h1>
                <ul>
                    <li><a href="" target="_blank">Ref Here</a></li>
                </ul>
            </section>
            
            <footer><p class="copyright">All rights reserved.</p></footer>
        </article>
    </body>
</html>
