/* 
    Created on : 2020-6-17, 1:14:06
    Author     : Sarkuya
*/

div[role="main"]>h2 {
    color: #336699;
}

div[role="main"] h3 {
    color: #007aa0;
}

p {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    line-height: 1.5em;
    text-indent: 2em;
}

pre {
    background: rgba(0, 0, 0, 0.05);
    white-space:  pre-wrap;
    padding: 0.5em 1em 0.5em;
    font-size: 0.8em;
    border: 1px dashed #2f6fab;
    border-radius: 5px;
}

pre strong {
    color: green;
}

span.htmltag {
    color: brown;
}

span.file-name {
    color: green;
}

span.html5-obj {
    color: #999;
}

span.webgl-obj {
    color: coral;
}

span.parameter {
    font-weight: bold;
    color: green;
}

p+ul {
    margin-left: 2em;
    margin-top: -1em;
}

div.synopsis {
    font-size: 0.8em;
}

div.synopsis h4 {
    color: brown;
    margin: 0.1em;
    padding: 0;
}

div.synopsis p {
    text-indent: 1em;
    margin: 0em;
    padding: 0em;
}

div.synopsis h4:first-of-type + p {
    background-color: hsla(240, 30%, 80%, 0.3);
    border-radius: 5px;
    padding: 0.5em;
    text-indent: 0.5em;
}

div.synopsis h4:not(:first-of-type) {
    margin-top: 1.1em;
}

div.synopsis h4+p {
    margin: 0;
    padding: 0;
}

div.synopsis dl {
    margin-left: 1em;
}

div.synopsis dl dt {
    font-weight: bold;
    color: green;
}

div.synopsis ul {
    border: 0px solid black;
    margin: 0 0em;
    padding: 0em;
    list-style-position: inside;
}

div.synopsis ul li {
    border: 0px solid red;
    margin-left: 0em;
    padding: 0 0em;
}