h1 {
    color: rgb(92, 25, 36);
}

h2 {
    color: #043a6b;
}

h3 {
    color: #007aa0;
}

dt {
    color: brown;
}



/*button {
    padding: 6px 12px;
    color: darkorchid;
}*/

.ui-input-text {
    min-height: 100px;
    overflow:  scroll;
}