h1 {
    color: rgb(92, 25, 36);
}

h2 {
    color: #043a6b;
}

h3 {
    color: #007aa0;
}

dt {
    color: brown;
}

pre {
    font-family: monospace;
    font-size: 90%;
    color: #666;
    background-color: #eee;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid lightgray;
}

/*button {
    padding: 6px 12px;
    color: darkorchid;
}*/

.ui-input-text {
    min-height: 100px;
    overflow:  scroll;
}